version: '3.8'

services:
  web:
    # Говорим, что "рецепт" лежит в этом же каталоге
    build: .
    # Перезапускать, если упадет
    restart: always
    ports:
      # Связываем 80-й порт VPS (публичный)
      # с 8000-м портом "коробки" (где работает Gunicorn)
      - "80:8000"
    volumes:
      # ВАЖНО: "Пробрасываем" файл базы данных
      # Это делает вашу БД постоянной, иначе она удалится при перезапуске
      - ./database.db:/app/database.db